h2 {
	color: white;
	font-size: 29px;
	font-family: MC, Arial, sans-serif;
}

@font-face {
        font-family: MC;
        src:url(../other/Minecraft.ttf)
}

#types {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    margin: 25px auto;
    width: 400px;
    height: 550px;
	 padding: 10px;
	 overflow-y: scroll;
}
